/* Login Page Styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 500px; /* Increased width */
    height:400px;
    overflow: visible;
    padding: 24px; /* More padding */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-size: 2.5rem; /* Larger title */
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-form {
    margin-top: 20px;
    width: 100%;
}

.login-input {
    display: block;
    width: 100%;
    padding: 12px; /* More padding for better input visibility */
    border: 1px solid #ccc;
    margin-bottom: 14px;
    border-radius: 6px;
    font-size: 1rem;
}

.login-button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
    background-color: #c441d3;
    color: black;
    border:none;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #791e83;
}

.login-error {
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}
